{% load render_table from django_tables2 %}
{% load plugins %}
<div class="row mb-3">
    <div class="col col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">RMA's found for External Inventory serial number: {{ object.external_id|placeholder }}</h5>
                <div class="card-actions">
                    {% if object.external_id %}
                    <a href="{% url 'plugins:inventory_monitor:rma_list' %}?serial={{ object.external_id|urlencode }}"
                       class="btn btn-primary btn-sm">
                        <i class="mdi mdi-format-list-bulleted" aria-hidden="true"></i>RMA's List
                    </a>
                    {% else %}
                    <button class="btn btn-primary btn-sm disabled" aria-disabled="true" disabled>
                        <i class="mdi mdi-format-list-bulleted" aria-hidden="true"></i>RMA's List
                    </button>
                    {% endif %}
                </div>
            </div>
            {% if object.external_id %}
                {% htmx_table 'plugins:inventory_monitor:rma_list' serial=object.external_id %}
            {% else %}
                <div class="card-body">
                    <p class="text-muted text-center">No RMA's found for this External Inventory serial number.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
