{% extends 'generic/object_children.html' %}
{% load helpers %}
{% load static %}
{% block content %}
    <!-- Display assigned device info if available -->
    <link rel="stylesheet"
          href="{% static 'inventory_monitor/css/table_row_highlighting.css' %}">
    {% if assigned_device_info %}
        <div class="alert alert-info mb-3">
            <strong>Device:</strong>
            {% if assigned_device_info.url %}
                <a href="{{ assigned_device_info.url }}">{{ assigned_device_info.name }}</a>
            {% else %}
                {{ assigned_device_info.name }}
            {% endif %}
            <br>
            <strong>Serial Number:</strong> <span class="badge text-bg-primary">{{ assigned_device_info.serial }}</span>
            <br>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock content %}
