{% load helpers %}
{% if perms.inventory_monitor.view_probe %}
    <div class="card">
        <h5 class="card-header">
            Inventory Monitor
            <div class="card-actions">
                <a href="{% url 'plugins:inventory_monitor:probe_list' %}?device_id={{ object.pk }}&latest_only_per_device=True"
                   class="btn btn-primary btn-sm">
                    <i class="mdi mdi-format-list-bulleted" aria-hidden="true"></i>Probe List
                </a>
            </div>
        </h5>
        {% htmx_table 'plugins:inventory_monitor:probe_list' device_id=object.pk latest_only_per_device=True %}
    </div>
{% endif %}
