{% extends 'inventory_monitor/asset_children.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
          href="{% static 'inventory_monitor/css/table_row_highlighting.css' %}">
    {% if object.serial %}
        {% if table.data %}
            <div class="alert alert-primary mb-3">
                <strong>Device Serial:</strong> <span class="badge text-bg-primary">{{ object.serial }}</span>
                <br>
            </div>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock content %}
