{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}
{% load helpers %}
{% load i18n %}
{% load inventory_monitor %}
{% load plugins %}
{% block content %}
    <div class="row mb-3">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">External Inventory Details</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">External ID</th>
                            <td>{{ object.external_id|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Inventory Number</th>
                            <td>{{ object.inventory_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{ object.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Serial Number</th>
                            <td>{{ object.serial_number|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Status
                                {% external_inventory_status_tooltip as status_tooltip %}
                                {% if status_tooltip %}
                                <i class="mdi mdi-help-circle text-muted ms-1"
                                   data-bs-toggle="tooltip"
                                   data-bs-html="true"
                                   aria-label="{% trans 'Status code explanation' %}"
                                   title="{{ status_tooltip }}">
                                </i>
                                {% endif %}
                            </th>
                            <td>{{ object.status|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Split Asset</th>
                            <td>{{ object.split_asset|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
            {% include 'inc/panels/tags.html' %}
        </div>
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">Person Information</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Person ID</th>
                            <td>{{ object.person_id|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Person Name</th>
                            <td>{{ object.person_name|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header">Location Information</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Location Code</th>
                            <td>{{ object.location_code|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Location</th>
                            <td>{{ object.location|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header">Usage Information</h5>
                <div class="card-body">
                    <table class="table table-hover attr-table">
                        <tr>
                            <th scope="row">Department Code</th>
                            <td>{{ object.department_code|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Project Code</th>
                            <td>{{ object.project_code|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">User Name</th>
                            <td>{{ object.user_name|placeholder }}</td>
                        </tr>
                        <tr>
                            <th scope="row">User Note</th>
                            <td>{{ object.user_note|placeholder }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            {% include 'inc/panels/comments.html' %}
        </div>
    </div>
    <!-- Plugin Extension Sections -->
    <div class="row mb-3">
        <div class="col col-md-6">{% plugin_left_page object %}</div>
        <div class="col col-md-6">{% plugin_right_page object %}</div>
    </div>
    <div class="row mb-3">
        <div class="col col-md-12">{% plugin_full_width_page object %}</div>
    </div>
{% endblock %}
