<div class="card">
    <h5 class="card-header">
        Assets &nbsp;<i class="text-muted">Inventory Monitor</i>
    </h5>
    <div class="card-body">
        {% if perms.inventory_monitor.view_asset %}
            {% if assets %}
                {% for asset in assets %}
                    {% if not forloop.first %}
                        <hr/>
                    {% endif %}
                    <table class="table table-hover attr-table">
                        <tr>
                            <th class="ps-3" scope="row">Serial</th>
                            <td>
                                <a href="{{ asset.get_absolute_url }}">{{ asset.serial }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="ps-3" scope="row">Part Number</th>
                            <td>{{ asset.partnumber|default:''|placeholder }}</td>
                        </tr>
                        <tr>
                            <th class="ps-3" scope="row">Vendor</th>
                            <td>{{ asset.vendor|default:''|placeholder }}</td>
                        </tr>
                        <tr>
                            <th class="ps-3" scope="row">Price</th>
                            <td>{{ asset.price|to_czech_crown }}</td>
                        </tr>
                        <tr>
                            <th class="ps-3" scope="row">Order Contract</th>
                            <td>
                                {% if asset.order_contract %}
                                    <a href="{{ asset.order_contract.get_absolute_url }}">{{ asset.order_contract }}</a>
                                {% else %}
                                    {{ ''|placeholder }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="ps-3" scope="row">Warranty</th>
                            <td>
                                {% if asset.warranty_start and asset.warranty_end %}
                                    {{ asset.warranty_start|date:"Y-m-d" }} - {{ asset.warranty_end|date:"Y-m-d" }}
                                {% else %}
                                    {{ ''|placeholder }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% endfor %}
            {% else %}
                <div class="text-muted ps-3">No assets associated</div>
            {% endif %}
        {% else %}
            <div class="text-muted ps-3">You do not have permission to view assets</div>
        {% endif %}
    </div>
</div>