{% extends "generic/object_edit.html" %}
{% block title %}
    Network Changes
{% endblock title %}
{% block tabs %}
{% endblock tabs %}
{% block buttons %}
    <button type="submit" name="_update" class="btn btn-primary">Submit</button>
    <a class="btn btn-outline-danger"
       href="{% url 'plugins:inventory_monitor:probediff' %}">Reset</a>
{% endblock buttons %}
{% block content %}
    {{ block.super }}
    <div class="tab-content">
        <div class="card">
            <h5 class="card-header">Added Items</h5>
            <div class="card-body">
                {% if probes_added %}
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Creation Time</th>
                            <th>Last Seen (Time)</th>
                            <th>Name</th>
                            <th>Serial</th>
                            <th>Part</th>
                            <th>Site</th>
                            <th>Location</th>
                            <th>Device</th>
                        </tr>
                        {% for probe in probes_added %}
                            <tr>
                                <td>
                                    <a href="{% url 'plugins:inventory_monitor:probe_list' %}{{ probe.id }}/"
                                       target="_blank">{% firstof probe.id %}</a>
                                </td>
                                <td>{{ probe.creation_time|date:"Y-m-d" }}</td>
                                <td>{{ probe.time|date:"Y-m-d" }}</td>
                                <td>{{ probe.name }}</td>
                                <td>{{ probe.serial }}</td>
                                <td>{{ probe.part }}</td>
                                <td>{{ probe.site_descriptor }}</td>
                                <td>{{ probe.location_descriptor }}</td>
                                <td>{{ probe.device_descriptor }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-muted">None</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div class="card">
            <h5 class="card-header">Removed Items</h5>
            <div class="card-body">
                {% if probes_removed %}
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Creation Time</th>
                            <th>Last Seen (Time)</th>
                            <th>Name</th>
                            <th>Serial</th>
                            <th>Part</th>
                            <th>Site</th>
                            <th>Location</th>
                            <th>Device</th>
                        </tr>
                        {% for probe in probes_removed %}
                            <tr>
                                <td>
                                    <a href="{% url 'plugins:inventory_monitor:probe_list' %}{{ probe.id }}/"
                                       target="_blank">{% firstof probe.id %}</a>
                                </td>
                                <td>{{ probe.creation_time|date:"Y-m-d" }}</td>
                                <td>{{ probe.time|date:"Y-m-d" }}</td>
                                <td>{{ probe.name }}</td>
                                <td>{{ probe.serial }}</td>
                                <td>{{ probe.part }}</td>
                                <td>{{ probe.site_descriptor }}</td>
                                <td>{{ probe.location_descriptor }}</td>
                                <td>{{ probe.device_descriptor }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-muted">None</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
