<div class="card">
    <h5 class="card-header">
        Contractor &nbsp;<i class="text-muted"> Inventory Monitor</i>
    </h5>
    <table class="table table-hover attr-table">
        {% if contractor %}
            <tr>
                <th class="ps-3" scope="row">Name</th>
                <td>
                    <a href="{{ contractor.get_absolute_url }}">{{ contractor.name }}</a>
                </td>
            </tr>
            <tr>
                <th class="ps-3" scope="row">Contract Count</th>
                <td>
                    <a href="{% url 'plugins:inventory_monitor:contract_list' %}?contractor_id={{ contractor.pk }}">
                        <span class="badge text-bg-primary rounded-pill" aria-hidden="true">{{ contracts_count }}</span>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <th class="ps-3" scope="row" aria-disabled="true">
                    <span class="text-muted">None</span>
                </th>
            </tr>
        {% endif %}
    </table>
</div>
